.blog-main {
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2 {
    color: #F05F40;
}

h2 {
    margin-top: 50px;
    font-size: 24pt;
}

p {
    font-size: 16pt;
}

.code {
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 100%;
}

.code-preview {
    height: 20em;
    overflow: hidden;
}

.padded {
    padding: 20px;
}

.sized {
    max-width: 100%;
    display: inline-block;
}

.wrapper {
    position: relative;
}

.bottom {
    position: fixed;
    bottom: 0px;
}

img.circuit {
    max-width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.padded .reset {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.center .reset {
    margin-left: 0px!important;
    margin-right: 0px!important;
    width: auto!important;
    text-align: left!important;
}

@media only screen and (max-width: 600px) {
    .code {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .code-preview {
        max-height: 5em;
    }

    .padded {
        padding: 1px;
    }

    img.circuit {
        max-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .center {
        width: 100%;
    }
}