.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.white {
    color: white;
}

.icon {
    display: inline-block;
    max-width: 100px;
    height: auto;
}

ul.checked_list {
    list-style: none;
}

ul.checked_list li:before {
    content: "✓";
    padding-right: 1ch;
}